@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

html,
body {
  @apply hide-scrollbar h-[2000px] w-screen min-w-[320px] text-neutral-dark;
  overflow-x: hidden;
}

@layer utilities {
  .transform-matrix {
    transform: matrix(0, -1, -1, 0, 0, 0);
  }
}
